<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href={% static 'SsomPage/styleSsom.css' %}>
    <script type="text/javascript" src="{% static 'SsomPage/ssomJs.js' %}"></script>
    <title>Server Side programming</title>
</head>
<body>
<div class="parent">
    <div class="div1">
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
                <div class="nav-title">
                    World Of SharePoint
                </div>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>

            <div class="nav-links">
                <a href="http://127.0.0.1:8000/" target="_blank">Home Page</a>
                <a href="http://127.0.0.1:8000/powerapp/" target="_blank">Power apps</a>
                <a href="http://127.0.0.1:8000/poweraut/" target="_blank">Power automation</a>
                <a href="http://127.0.0.1:8000/ssom/" target="_blank">ServeSide programming</a>
                <a href="http://127.0.0.1:8000/csom/" target="_blank">ClientSide programming</a>
                <a href="http://127.0.0.1:8000/jsom/" target="_blank">JavaScript programming</a>
                <a href="http://127.0.0.1:8000/spfx/" target="_blank">SharePoint Framework</a>
                <a href="http://127.0.0.1:8000/admins/" target="_blank">Administracia SharePoint</a>
                <a href="http://127.0.0.1:8000/sign/" target="_blank">Login</a>
            </div>
        </div>
    </div>
    <div class="div2">
        <ul>
            <li><a class="active" href="#home">Before we start</a></li>
            <li><a href="#news">Create site</a></li>
            <li><a href="#contact">Create item</a></li>
            <li><a href="#about">Create list</a></li>
            <li><a href="#about">Create library</a></li>
            <li><a href="#about">Create folder</a></li>
            <li><a href="#about">Read item</a></li>
            <li><a href="#about">Read libray item</a></li>
            <li><a href="#about">Update item</a></li>
            <li><a href="#about">Delete item</a></li>
        </ul>
    </div>
    <div class="div3">

    </div>
</div>
</body>
</html>