<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href={% static 'SsomPage/styleSsom.css' %}>
    <script type="text/javascript" src="{% static 'SsomPage/ssomJs.js' %}"></script>
    <title>Home page</title>
</head>
<body>
    <nav>

        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul  style="background-color: black;" class="nav-links">
            <li><a style="color: white;" href="http://127.0.0.1:8000">Home</a></li>
            <li><a style="color: white;" href="http://127.0.0.1:8000/csom/">CSOM</a></li>
            <li><a style="color: white;" href="http://127.0.0.1:8000/ssom/">SSOM</a></li>
            <li><button style="color: white;" class="login-button" onclick="location.href='http://127.0.0.1:8000/sign/'">Login</button></li>
              <li><button class="join-button" onclick="location.href='http://127.0.0.1:8000/jsom/'" >ADMIN</button></li>
        </ul>
    </nav>

    <div class="sidebar">
        <a href="#SSOM">CSOM</a>
        <a href="#JSOM">SSOM</a>
        <a href="#CSOM">HOME 3</a>

    </div>
    <div class="sidebar">
        <a class="active" href="#home">Home</a>
            {% for item in results %}
             <a href="#Csome">{{ item.nazovclanku}}</a>
         {% endfor %}
      </div>

      <div class="content">
        <h2 style="color: black; margin-top: 80px;">SSOM Page</h2>
         {% for item in results %}
            <h1 style="color: black; margin-bottom: 20px">{{ item.nazovclanku}}</h1>
           <p style="color: black;margin-bottom: 20px"> {{ item.clanok }}</p>
        {% endfor %}
      </div>
</body>
</html>