<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href={% static 'HomePage/style.css' %}>
    <script type="text/javascript" src="{% static 'HomePage/script.js' %}"></script>
    <title>Home page</title>
</head>
<body>
    <nav>

        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul  style="background-color: black;" class="nav-links">
            <li><a style="color: white;" href="http://127.0.0.1:8000">Home</a></li>
            <li><a style="color: white;" href="http://127.0.0.1:8000/csom/">CSOM</a></li>
            <li><a style="color: white;" href="http://127.0.0.1:8000/ssom">SSOM</a></li>
            <li><button style="color: white;" class="login-button" href="#">Login</button></li>
            <li><button class="join-button" href="#">ADMIN</button></li>
        </ul>
    </nav>

    <div class="sidebar">
        <a href="#SSOM">CSOM</a>
        <a href="#JSOM">SSOM</a>
        <a href="#CSOM">HOME 3</a>

    </div>
    <div class="sidebar">
        <a class="active" href="#home">Home</a>
        <a href="#Csome">HOME</a>
        <a href="#SSom">SSOM</a>
        <a href="#JSOM">JSOM</a>
        <a href="#JSOM">CSOM</a>
        <a href="#JSOM">LOGIN</a>
        <a href="#JSOM">REGISTER</a>
      </div>

      <div class="content">
        <h2 style="color: black; margin-top: 80px;">HOME</h2>
        <p style="color: black;">We have also added a media query for screens that are 400px or less, which will vertically stack and center the navigation links.</p>
        <h3 style="color: black;" >Resize the browser window to see the effect.</h3>


      </div>
</body>
</html>