<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href={% static 'HomePage/style.css' %}>
    <script type="text/javascript" src="{% static 'HomePage/script.js' %}"></script>
    <title>HomePage</title>
</head>
<body>

<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            World Of SharePoint
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">
        <a href="http://127.0.0.1:8000/powerapp/" target="_blank">Power apps</a>
        <a href="http://127.0.0.1:8000/poweraut/" target="_blank">Power automation</a>
        <a href="http://127.0.0.1:8000/ssom/" target="_blank">ServeSide programming</a>
        <a href="http://127.0.0.1:8000/csom/" target="_blank">ClientSide programming</a>
        <a href="http://127.0.0.1:8000/jsom/" target="_blank">JavaScript programming</a>
        <a href="http://127.0.0.1:8000/spfx/" target="_blank">SharePoint Framework</a>
        <a href="http://127.0.0.1:8000/admins/" target="_blank">Administracia SharePoint</a>
        <a href="http://127.0.0.1:8000/sign/" target="_blank">Login</a>

    </div>
</div>

<div class="res">
    <h1 class="nadpis"> &#10100 % Explore and learn SharePoint <span> </span> % &#10101</h1>
</div>

<div class="parent">
    <div class="div1">
        <h2 class="nadpis1">Server Side Object Model</h2>
    </div>
    <div class="div2">
        <h2 class="nadpis2">Client Side Object Model</h2>
    </div>
    <div class="div3">
        <h2 class="nadpis3">JavaScript Object Model</h2>
    </div>
    <div class="div4">
        <h2 class="nadpis4">SharePoint Framework</h2>
    </div>
    <div class="div5">
        <h2 class="nadpis5">Power apps</h2>
    </div>
    <div class="div6">
        <h2 class="nadpis6">Power automation</h2>
    </div>
    <div class="div7">
        <h2 class="nadpis7">SharePoint Administration</h2>
    </div>
    <div class="div8">
        <h2 class="nadpis8">Bill memes</h2>
    </div>
    <div class="div10">
        <img class="imgbil" src="{% static 'HomePage/gates.png' %}">
    </div>
</div>


</body>
</html>
